<div class="relative text-left">
    <div>
        <button type="button" (click)="toggleDropdown()"
            class="inline-flex w-full justify-between items-center h-11 cursor-pointer rounded-md bg-slate-50 px-3 py-1.5 text-left text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:outline-none focus:ring-2 focus:ring-primary sm:text-sm/6"
            id="menu-button" aria-expanded="false" aria-haspopup="true">
            {{
            selected()
            ? displayField
            ? selected()[displayField]
            : selected
            : defaultValue
            }}
            <svg class="-mr-1 size-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
                data-slot="icon">
                <path fill-rule="evenodd"
                    d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
                    clip-rule="evenodd" />
            </svg>
        </button>
    </div>

    <!-- Dropdown menu -->
    @if (isOpen()) {
    <div class="transition ease-in-out duration-100 absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black/5 focus:outline-none"
        role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
        <div class="py-1" role="none">
            @for (option of options; track $index) {
            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="menu-item-0"
                (click)="selectOption(option)">
                {{displayField ? option[displayField] : option}}
            </a>
            }
        </div>
    </div>
    }
</div>